.loginform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    /* background-color: aqua; */
    font-size: 25px;
}

.login-input{
    padding: 10px;
    margin: 15px;
    font-size: 1.5rem;
}
.login-button{
    padding: 10px;
    font-size: 1.3rem;
    margin: 15px;
}